In [1]:
import pandas as pd
trainset1=pd.read_excel("C:\\Users\\Y.V.Keerthana Rani\\OneDrive\\Documents\\ptsp\\college\\train2.xlsx")

In [ ]:
#import the package  for train set aand read the data frame with excel ....

In [ ]:
# viewing the set

In [2]:
trainset1

      x          y
0    24  21.549452
1    50  47.464463
2    15  17.218656
3    38  36.586398
4    87  87.288984
..   ..        ...
695  58  58.595006
696  93  94.625094
697  82  88.603770
698  66  63.648685
699  97  94.975266

[700 rows x 2 columns]

In [ ]:
# the first five records of trainset..

In [3]:
trainset1.head()

    x          y
0  24  21.549452
1  50  47.464463
2  15  17.218656
3  38  36.586398
4  87  87.288984

In [ ]:
# the last five records of trainset

In [4]:
trainset1.tail()

      x          y
695  58  58.595006
696  93  94.625094
697  82  88.603770
698  66  63.648685
699  97  94.975266

In [ ]:
# the shape/dimension of trainset is....

In [5]:
trainset1.shape

(700, 2)

In [ ]:
# the trainset consisting 700 rows and 2 columns...

In [ ]:
# it will give information of trainset..

In [6]:
trainset1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       700 non-null    int64
 1   y       700 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 11.1 KB

In [ ]:
# the trainset consisting two variables x is of type integer and y is type of float.There is no missing values among the two variables...

In [ ]:
# fitting the regression model on trinset ,taking y as a dependent variable and 
#x as independent variable by the help of statsmodel package and gives complete solutions or summarised the data of trainset ....

In [7]:
import statsmodels.api as sm
X=sm.add_constant(trainset1["x"])
Y=trainset1["y"]
model=sm.OLS(Y,X)
result=model.fit()

In [8]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.991
Model:                            OLS   Adj. R-squared:                  0.991
Method:                 Least Squares   F-statistic:                 7.411e+04
Date:                Sun, 19 Nov 2023   Prob (F-statistic):               0.00
Time:                        10:39:40   Log-Likelihood:                -1716.2
No. Observations:                 700   AIC:                             3436.
Df Residuals:                     698   BIC:                             3445.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.1202      0.212     -0.566      0.572      -0.537       0.297
x              1.0008      0.004    272.232      0.000       0.994       1.008
==============================================================================
Omnibus:                        0.184   Durbin-Watson:                   1.970
Prob(Omnibus):                  0.912   Jarque-Bera (JB):                0.239
Skew:                           0.036   Prob(JB):                        0.887
Kurtosis:                       2.945   Cond. No.                         115.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [ ]:
# from the regression summary the regression equation for the given data is y=-0.1202+1.0008*x...

In [ ]:
#  from the regression summary R^2 = 0.991 that means
#the dependent variable y can be explained by the independent variable x upto 0.99 percent

In [ ]:
# checks the fitted value....

In [9]:
result.fittedvalues

0      23.898522
1      49.918757
2      14.891518
3      37.909418
4      86.947552
         ...
695    57.924983
696    92.952222
697    81.943661
698    65.931209
699    96.955335
Length: 700, dtype: float64

In [ ]:
# test set is also read using excel....

In [13]:
testset1=pd.read_excel("C:\\Users\\Y.V.Keerthana Rani\\OneDrive\\Documents\\ptsp\\college\\test2.xlsx")

In [ ]:
# viewing the testset....

In [14]:
testset1

      x          y
0    77  79.775152
1    21  23.177279
2    22  25.609262
3    20  17.857388
4    36  41.849864
..   ..        ...
295  71  68.545888
296  46  47.334876
297  55  54.090637
298  62  63.297171
299  47  52.459467

[300 rows x 2 columns]

In [ ]:
# it will be giving the predicted values of testset data set....

In [15]:
result.predict(testset1)

0      70.585261
1      20.672050
2      22.985770
3      15.468175
4      37.556835
         ...
295    60.068191
296    41.844560
297    47.524179
298    55.896788
299    46.852983
Length: 300, dtype: float64

In [ ]:
#the above are the y values of test set predicted by the regression model built on trainset..